<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista - Pedidos</ion-title>
        <ion-menu-button menu="first" slot="start" auto-hide="true"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let pedido of pedidos">
      <ion-item lines="inset" button [routerLink]="['/pedidos', pedido.id]">
        <ion-list>
          <ion-label class="ion-padding-top">
            {{ pedido.pedidos }}
          </ion-label>
          <ion-label class="ion-padding-top">
            {{ pedido.prioridad }}
          </ion-label>
          <!-- <ion-label class="ion-padding-top">
              <ion-fab-button routerLink="/listado" color="danger" 
              routerDirection="forward" size="small" (click)="onRemove(idPedidos)">
                <ion-icon name="trash-outline"></ion-icon>              
              </ion-fab-button>
          </ion-label> -->
        </ion-list>
      </ion-item>
    
      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(item)" color="danger">
              <ion-icon slot="end" name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/pedidos" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>