<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/logo.png" alt="logo.png">
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input name="email" type="email" placeholder="Email:" #email required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input name="password" type="password" placeholder="Contraseña" #password required>
        </ion-input>
      </ion-item>

      <div padding>
      <ion-button size="small" color="success" type="submit" 
      expand="block" (click)="onLogin(email, password)">
        Iniciar
      </ion-button>

      <ion-button  size="small" color="danger" type="submit" expand="block" (click)="onLoginGoogle()">
        <ion-icon color="light" name="logo-google"></ion-icon>
        Iniciar con Google
      </ion-button>

      <ion-button size="small" routerLink="/register" expand="block">Crear una cuenta </ion-button>

      <ion-row>
        <ion-col>
          <p class="ion-text-end" color="dark">
            <a routerLink="/forgot-password">¿Has olvidado tu contraseña? </a>
          </p>
        </ion-col>
      </ion-row>
    </div>

    </ion-card-content>
  </ion-card>
</ion-content>

