.center-span {
  display: block;
  text-align: center;
}

ion-content{
  color: #9d9fa6;
}

ion-title{
  color: #222428;
}

ion-item{
  --background: #f4f5f8;
  --color: #222428;
}

ion-icon{
  color: #9d9fa6;
}