<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pedidos</ion-title>
        <ion-menu-button menu="first" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">

      <ion-item *ngIf="pedido">
        <ion-input required type="text" placeholder="Pedidos" [(ngModel)]="pedido.pedidos"></ion-input>
      </ion-item>

      <ion-item *ngIf="pedido">
        <ion-input required type="text" placeholder="Prioridad" [(ngModel)]="pedido.prioridad"></ion-input>
      </ion-item>

      <!-- <ion-item *ngIf="pedido">
        <ion-input (change)="ImagenUpload()" id="file-upload" required type="file" accept="image/*" aria-placeholder="Imagen" [(ngModel)]="pedido.imagen"/>
        <ion-icon name="images-outline"></ion-icon>
        <ion-buttom>Elegir imagen</ion-buttom>
      </ion-item> -->
  </ion-list>

  <ion-button expand="full" (click)="savePedido()">Guardar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger" routerLink="/listado" routerDirection="forward" (click)="onRemove(pedidoId)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
